body{
    background-color: #fffefe;
}
.header{
    background-color: #093864;
    color: aliceblue;
    font-family: 'Graduate', cursive;
    text-transform: uppercase;
}
.averageBadge{
    margin-left: .2em;
}
.wrapper{
    min-height: 95vh;
}
.bottom{
    margin-top: 1em;
}
.logo{
    padding: .3%;
}
.title{
    font-size: 4em;
    margin: auto;
}
.average{
    font-size: 2em;
    text-align: center;
    margin: auto;
}
.badge{
    margin-left: .3em;
}
.table{
    text-align: center;
    font-size: 16px;
}
.buttons{
    text-align: center;
}
.addButton, .cancelButton{
    margin-right: .2em;
    font-size: larger;
}
.addButton{
    background-color: #093864;
    border-color: #093864;
}
.cancelButton{
    background-color: #E06C00;
    border-color: #E06C00;
}
.addButton:hover{
    background-color: #093864;
    border-color: #093864;
}
.cancelButton:hover{
    background-color: #d36804;
    border-color: #d36804;
}
.addButton:active{
    background-color: #093864;
    border-color: #093864;
}
.cancelButton:active{
    background-color: #d36804;
    border-color: #d36804;
}
.deleteButton, .editButton{
    font-size: smaller;
    margin-right: .2em;
}
.editButton{
    background-color: #607d8b;
    border-color: #607d8b;
}
.editButton:hover{
    background-color: #607d8b;
    border-color: #607d8b;
}
.deleteButton{
    background-color: #ca2a3a;
    border-color: #ca2a3a;
}
.deleteButton:hover{
    background-color: #ca2a3a;
    border-color: #ca2a3a;
}
.editButton:active{
    background-color: #607d8b;
    border-color: #607d8b;
}
.deleteButton:active{
    background-color: #ca2a3a;
    border-color: #ca2a3a;
}
.icon{
    line-height: inherit;
}
.cap{
    font-size: .9em;
}
footer {
    bottom: 0;
    /* width: 100%; */
    height: 5vh;
    background-color: #093864;
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
    font-size: small;
 }
@media (orientation: portrait) {
    .logo{
        display: none
    }
    .title{
        text-align: center;
        font-size: 2.5em;
        padding: 0;
    }
    .average{
        padding: 0;
    }
    .editButton{
        margin-bottom: .1em;
    }
}
@media (max-width: 990px) {
    .logo{
        padding: .3%;
    }
    .title{
        font-size: 2.5em;
    }
    .average{
        font-size: 1.5em;
    }
    .editButton{
        margin-bottom: .1em;
    }
    .editButton, .deleteButton{
        font-size: 10px;
    }
    .table{
        font-size: 12px;
    }
}