body{

    background-color: #fffefe;
}
.header{
    background-color: #093864;
    color: aliceblue;
    font-family: roboto;
}
.wrapper{
    min-height: 95vh;
}
.bottom{
    margin-top: 1em;
}
.logo{
    width: 6em;
    padding: .3em 0 .3em 1em;
}
.title{
    font-size: 3em;
    padding-top: .1em;
}
.average{
    font-size: 2em;
    text-align: center;
    padding-top: 1%;
}
.table{
    text-align: center;
    font-size: 16px;
}
.buttons{
    text-align: center;
    margin-top: .8em;
}
.addButton, .cancelButton{
    margin-right: .2em;
    font-size: larger;
}
.icon{
    line-height: inherit;
}
footer {
    bottom: 0;
    position: sticky;
    width: 100%;
    height: 5vh;
    background-color: #093864;
    color: aliceblue;
    font-family: roboto;
    text-align: center;
    vertical-align: middle;
    padding-top: .5em;
 }
@media (orientation: portrait) {
    .logo{
        display: none
    }
    .title{
        text-align: center;
        font-size: 2.5em;
        padding: 0;
    }
    .average{
        padding: 0;
    }
    footer{
        font-size: .8em;
    }
}